/* 

  Selectores

  Son patrones que permiten seleccionar y aplicar estilos específicos a elementos de una página web.

  Tipos de selectores

  1. Selectores Básicos

    - Selector Universal
    - Selectores de Tipo

  2. Selectores de Clase

    Seleccionan los elementos que tiene una clase específica.

    Se usa la 'notación' de punto (.) antes del nombre de la clase.

    .nombreClase{
      propiedad: valor;
    }

  3. Selectores de ID

    Seleccionan un elemento único con un identificador específico.

    Se usa la 'notación' de numeral (#)
   antes del nombre del ID

     nombreID{
      propiedad: valor;
    }

  4. Selectores Combinados

    - Descendientes

      Seleccionan elementos dentro de otro elementos.

      elemnto elementoInterno{
        propiedad: valor;
      }

    - Hijo directo

      Selecciona elementos que son hijos directos de un elemento padre.

      elemento -> elementosHijos{
        propiedades: valor;
      }


    - Elemento Adjacente

      Selecciona el primer elemento inmediatamente después de otro. (Su hermano inmediato o soft-siblings)

      elemnto + elementoAdjacente{
        propiedades: valores;
      }


    - Hermano General

      Selecciona todos los elementos hermanos después de un elemento.

      elemento ~ elementosHermanos {
        propiedades: valor;
      }

  5. Selectores de Atributos.

    - Atributo

    Selecciona elementos según el atributo que indiquemos. Sin importar su valor.

    elemnto[atributo]{
      propiedad: valor;
    }

    - Atributo con Valor

    Selecciona elementos

  6. Selectores Avanzados

    - Pseudo-clases

    Seleccionamos elementos en un esado particular. 

    elemento:pseudoclase {
      propiedad: valor;
    }

    - Pseudo-elementos.

    Seleccionan pares específicas de un elemento en html

      elemento::pseudoelemento {
        propiedad: valor;
      }

*/

/* 

Selectores Básicos

*/

/* Universal -> seleccionar todos los elementos de un documento */

* {
  /* border: 2px solid red; */

  /* Resset básico */

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* Selectores de Tipo -> Selecionan un tipo de elemento htmil */

body {
  background-color: cornflowerblue;
}

h1 {
  color:beige
}

p {
  font-size: 24px;
}

header {
  background-color: rgb(127, 29, 169);
}

/* 22/11/2024 */

/* Selectores de Clase */

.content{
  background-color: rgb(16, 108, 108);
  padding: 48px;
}

.hero{
  background-color: lightcoral;
  padding: 24px;
}

.hero-title{
  background-color: rgb(207, 78, 158);
  color:rgb(57, 0, 97);
  padding: 16px;
  text-align: center;
}

/* Selector de ID */

#about-title{
  color: honeydew;
  font-size: 72px;
  font-family: sans-serif;
}

/* Combinado - Elementos Descendientes */

aside section{
  background-color: crimson;
  padding: 48px;
}

.asside-section h3{
  color: blanchedalmond;
  text-align: right;
  padding: 24px;
  background-color: lightcoral;
}

/* Combinados - Hijos Directos */

.lista > li {
  background-color: rgb(156, 255, 224);
  font-size: 18px;
  color:rgb(157, 9, 95);
}

/* Elemento Adjacente */

h3 + ul {
  list-style-type: none;
}

.bro + li{
  background-color:rgb(255, 149, 0);
}

/* Combinados - Hermano General */

.bro + li ~ li{
  background-color: palevioletred;
}

.tercero ~ li{
  font-size: 40px;
  color: rgb(36, 36, 36);
}



/* Selector de Atributo */

a[href] {
  display:block;
  text-decoration: none;
  color: rgb(57, 29, 128);
}

/* Selector de atributo con valor */

a[href="https://www.instagram.com"] {
  font-size: 48px;
  color: crimson;
}

a:hover {
  background-color: greenyellow;
  color:rgb(33, 33, 33);
}

a:focus {
  border: 3px solid red;
}


/* Pseudo-elementos */

a::after {
  content: "🔥";
}

a::before {
  content: "Este es un enlace hacia: ";
}