/*


  Propiedades de texto estan relacionadas con el estilo o formato del texto.

  Permiten controlar su apariencia alienacion, espaciado y decoración.

  Principales

  color:-> Define color del texto.Recibe diferentes tipos de parametros: Keywird, hexadecimal, rgb o rgba, hsl, transparent

  Font family: -> Define la familia tipografica del texto. recibe los nombres de las familias. si son de dos palabras entre comillas. y acepta mas de dos valores separados por coma y como fuentes de respaldo 

  Font size: -> Define el tamaño del texto.Acepta el valores en px, em y rem, porcentaje, terminos predefinidos

  Font style: -> El estilo de la fuenta y recibe 3 parametros normal, italic y oblique

  text=decoration -> Añade una línea transversal al texto, Recibe los valores: none, underline, overline, line-through

  text-transform -> Controla la capitalización del texto,recibe los valores: uppercase, lowercase y capitalize.

  line-height -> Espacio entre las líneas de texto. Recibe valores en px, %, em y rem, en un valor sin unidad será relativo al tamaño de la fuente.

  letter-spacing -> Es el espacio entre letras, recibe valores en px, em y rem.

  word-spacing ->

  text-shadow -> Sombra del texto. Recibe los valores en el siguiente orden: offset-x offset-y y blur color

    10px  10px  10px red   ->  Derecha y abajo
    -10px  -10px  10px red   -> Izquierda y arriba

*/

body{background-color: blueviolet;}

h1 {
  color: red; /* Keywords */
  font-family: 'Times New Roman', Arial;
  font-size: 94 px;
  font-size: 300%; /* 16px + 300% */
  font-size: normal;
  font-style: oblique;
  text-align: center;
  text-decoration: underline;
  text-transform: lowercase;
  text-transform: capitalize;
  text-transform: uppercase;
  letter-spacing: 20px;
  letter-spacing: 1em;
  word-spacing: 30 px;
  letter-spacing: 1rem;

  text-shadow: 6px 6px 10px wheat;
}

p {
  color: bisque;
  font-family: 'Courier New',Arial;
  font-size: 24 px;
  font-size: 100%;
  font-style: normal;
  text-align: left;
  text-decoration: line-through;
  text-transform: uppercase;
  text-transform: lowercase;

  line-height: 24px;
  line-height: 200%;
  line-height: 4;
  line-height: 1rem;
  line-height: 1em;
}

.important {
  text-decoration: underline;
}

a {
  color: lightcoral;
  font-family: sans-serif;
  font-size: xx-large;
  text-decoration: none;
}